[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
networkx = "*"
scikit-learn = "*"
rmp = {editable = true, path = "."}
cgalpy = {path = "./bindings"}
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
